/*************SETTINGS*****************/

.desc-main * {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: white;
    list-style: none;
}

.desc-main body {
    background-color: #191919;
    width: 100%;
    height: 8000px;
}

/*************MENU*****************/

.menu {
    width: 100%;
    height: 50px;
    background-color: #191919;
    position: fixed;
    z-index: 10000;
    display: flex;
}

.menu_droite {
    position: relative;
    width: 35%;
    height: 100%;
    margin-right: 0;
    justify-content: space-around;
}

.menu_gauche {
    display: flex;
    width: 40%;
    height: 100%;
    margin-left: 1%;
    text-align: center;
}

.menu .menu_droite,
.menu_gauche {
    font-family: "Julius Sans One";
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    text-align: center; /* Centre le texte dans l'élément */
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

#croix,
#rideau,
#circulaire,
#sound {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

#croix,
#sound {
    width: 14%;
    height: 100%;
}

#rideau {
    width: 46%;
    height: 100%;
}

#circulaire {
    width: 26%;
    height: 100%;
}

.croix,
.sound {
    position: relative;
    height: 20px;
    width: 20px;
}

/*.inactive{
  display: none;
}*/

/*.fermer{
  display: none;
}

.ouvert{
  font-family: "Julius Sans One";
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}*/

/*************RIDEAU*****************/

.desc-main nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #191919;
    transform: translateY(-200%);
    transition: transform 0.3s ease;
    z-index: 1000;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.desc-main nav.active {
    transform: translate(0);
}

#quiter_description {
    cursor: pointer;
    padding: auto;
}

.block {
    display: grid;
    grid-template-columns: repeat(
        5,
        1fr
    ); /* 5 colonnes pour les grands écrans */
    gap: 20px; /* Espace entre les éléments */
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px; /* Espacement interne */
}

.element {
    display: flex; /* Utilisation de Flexbox */
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre les éléments horizontalement */
    width: 100%; /* Largeur de l'élément */
    height: 250px; /* Hauteur fixe pour le bloc contenant l'image */
    overflow: hidden; /* Masque tout débordement */
    text-align: center; /* Centre le texte à l'intérieur de l'élément */
    padding: 10px; /* Espacement interne */
    margin-bottom: -15%;
}

.element img {
    box-sizing: border-box; /* Inclut le padding dans la largeur */
    width: 100%; /* Les images occupent toute la largeur de l'élément */
    height: auto; /* Préserve les proportions de l'image */
    max-height: 70%; /* Limite la hauteur maximale de l'image pour laisser de l'espace au texte */
    object-fit: cover; /* Couvre le bloc sans déformer l'image */
    cursor: pointer; /* Change le curseur lors du survol */
    transition: transform 0.2s linear; /* Transition pour l'effet hover */
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.3),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.6); /* Ombres sur l'image */
}

.element p {
    margin-top: 10px; /* Espacement entre l'image et le texte */
    font-size: 15px; /* Taille du texte */
    font-family: "Julius Sans One"; /* Police du texte */
    color: black; /* Couleur du texte */
    line-height: 1.5;
}

.element img:hover {
    transform: scale(1.05); /* Effet de zoom sur le survol */
}
.element p {
    margin-top: 10px;
    font-size: 15px;
    font-family: "Julius Sans One";
    color: white;
}

/* Design adaptatif */
@media screen and (max-width: 1280px) {
    .block {
        grid-template-columns: repeat(
            4,
            1fr
        ); /* 3 colonnes pour les écrans de taille moyenne */
    }
    .element {
        width: 95%;
        height: 200px;
        margin-bottom: -48px;
    }
}
@media screen and (max-width: 1024px) {
    .block {
        grid-template-columns: repeat(
            4,
            1fr
        ); /* 3 colonnes pour les écrans de taille moyenne */
    }
    .element {
        width: 85%;
        height: 165px;
        margin-bottom: -46px;
    }
}
@media screen and (max-width: 768px) {
    .block {
        grid-template-columns: repeat(
            3,
            1fr
        ); /* 3 colonnes pour les écrans de taille moyenne */
    }
    .element {
        width: 80%;
        height: 160px;
        margin-bottom: -36px;
    }
    .element p {
        font-size: 12px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 600px) {
    .block {
        grid-template-columns: repeat(
            3,
            1fr
        ); /* 2 colonnes pour les petits écrans */
        gap: 2px;
        padding: 10px;
    }
    .element {
        width: 100%;
        height: 100px;
        margin-bottom: auto;
    }

    .element p {
        margin-top: 5px;
        font-size: 9px;
    }
}
.conteneur_haut {
    position: relative;
    width: 100%;
    height: 1170px;
}

/*************FILTRE*****************/
.img {
    transition: opacity 0.3s ease-in-out; /* Transition plus douce pour l'opacité */
    transition-delay: 0.2s; /* Délai avant que la transition ne se déclenche */
}
.img_fixed {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}

.img_absolute {
    position: absolute !important;
    width: 100%;
    height: 100vh;
    margin-top: 3000px;
    object-fit: cover;
    pointer-events: none;
    z-index: 10;
    box-shadow: inset 0 -3em 3em rgb(0 0 0 / 30%),
        0.3em 0.3em 1em rgb(0 0 0 / 60%);
}
@media (min-width: 375px) {
    .img_absolute {
        height: 1vh;
    }
}
@media (min-width: 360px) {
    .img_absolute {
        height: 1vh;
    }
}
@media (min-width: 540px) {
    .img_absolute {
        height: 70vh;
    }
}

@media (min-width: 1024px) {
    .img_absolute {
        height: 85vh;
    }
}
@media (min-width: 1536px) {
    .img_absolute {
        height: 10vh;
    }
}
.conteneur_nom {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#nom {
    display: flex;
    position: relative;
    margin-top: 0vh;
    text-align: center;
    font-size: 70px;
    color: white;
    letter-spacing: 15px;
    font-family: "Julius Sans One";
    font-weight: bold;
    z-index: 15;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.808);
}

#filtre {
    position: absolute;
    background-color: #19191972;
    width: 100%;
    height: 220vh;
    z-index: 11;
    pointer-events: none;
}

.texte_filtre {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-right: 10%;
    padding-left: 10%;
}

.texte_filtre p {
    margin-top: 120vh;
    color: white;
    z-index: 20;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    text-align: center;
    line-height: 35px;
}

/*************CONTENEUR*****************/

.conteneur_bas {
    position: relative;
    width: 100%;
    margin-top: 70vh;
    height: 1000px;
}

/*************CONTENU****************/

.center {
    position: relative;
    display: flex;
    width: 80%;
}

.visible {
    z-index: 12;
    text-align: justify;
    padding-top: 10vh;
    display: flex;
    align-self: center;
    font-size: 20px;
    color: white;
    font-family: verdana;
    line-height: 35px;
    transition: 1.5s ease;
    opacity: 1;
}
.invisible {
    text-align: justify;
    display: flex;
    align-self: center;
    font-size: 20px;
    color: white;
    font-family: verdana;
    line-height: 35px;
    transition: 1.5s ease;
    opacity: 0;
}

/*************CAROUSEL*****************/

.carousel {
    height: 88vh;
    width: 143vh;
    position: relative;
    margin-top: 160px;
    box-shadow: inset 0 -3em 3em rgb(0 0 0 / 30%),
        0.3em 0.3em 1em rgb(0 0 0 / 60%);
}

.carousel button {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    font-size: 2.6rem;
    z-index: 2;
    cursor: pointer;
    color: white;
    transform: translateY(-50%);
    top: 50%;
}

#prev {
    left: -40px;
}

#next {
    right: -40px;
}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out; /* Correction ici */
}

.slide.active {
    /* Correction du sélecteur */
    opacity: 1;
}

.slide img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*************QUESTION*****************/

.questionInvisible {
    z-index: 12;
    text-align: center;
    align-self: center;
    font-size: 50px;
    color: white;
    font-family: "Julius Sans One";
    font-weight: bolder;
    opacity: 0;
    transition: 1.5s ease;
}

.questionVisible {
    z-index: 12;
    text-align: center;
    align-self: center;
    font-size: 50px;
    color: white;
    font-family: "Julius Sans One";
    font-weight: bolder;
    opacity: 1;
    transition: 1.5s ease;
}

.ligne1_bis,
.ligne2_bis {
    position: relative;
    display: flex;
    width: 70%;
    height: 200px;
}

.ligne1_bis {
    z-index: 12;
    margin-top: 5vh;
}

.ligne2_bis {
    z-index: 12;
    margin-top: 50px;
}

.texte1,
.texte2 {
    position: relative;
    align-items: center;
    height: 100%;
    width: 85%;
    padding-top: 45px;
}

.texte1 {
    padding-left: 10px;
}

.texte2 {
    text-align: end;
    padding-right: 10px;
}

.play1,
.play2 {
    height: 100px;
    width: 100px;
    align-self: center;
}

.invisible4,
.invisible6 {
    position: relative;
    display: flex;
    width: 15%;
    height: 200px;
    opacity: 0;
    transition: 1.5s ease;
}

.visible4,
.visible6 {
    position: relative;
    display: flex;
    width: 15%;
    height: 200px;
    opacity: 1;
    transition: 1.5s ease;
}

.invisible2,
.invisible5 {
    font-size: 70px;
    color: white;
    font-family: "Julius Sans One";
    font-weight: bolder;
    opacity: 0;
    transition: 1.5s ease;
}

.visible2,
.visible5 {
    font-size: 70px;
    color: white;
    font-family: "Julius Sans One";
    font-weight: bolder;
    opacity: 1;
    transition: 1.5s ease;
}

.invisible3,
.invisible7 {
    font-family: "Julius Sans One";
    font-size: 25px;
    font-weight: bolder;
    opacity: 0;
    transition: 1.5s ease;
}

.visible3,
.visible7 {
    font-family: "Julius Sans One";
    font-size: 25px;
    font-weight: bolder;
    opacity: 1;
    transition: 1.5s ease;
}

/****************POPUP IMAGE*****************/

.popup-image {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #191919e3;
    z-index: 100;
    display: none;
}

.popup-image img {
    width: 80%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-image span {
    position: absolute;
    top: 0;
    right: 1%;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 10000;
}

@media (max-width: 768px) {
    .popup-image img {
        width: 95%;
    }
}

/****************IMAGE SEULE*****************/

.parallax_one {
    margin-top: 200px;
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 90%;
    height: 80vh;
    /* background-image: url(Pierrot\ Men_3_Point\ de\ Vue\ \(1\).jpg); */
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

/****************TEXTES ADDITIONNELS*****************/

.textes_additionnels {
    position: relative;
    width: 70%;
    margin-top: 300px;
}

.droite {
    text-align: end;
}

.paragraphe1 {
    padding-right: 60px;
    transform-origin: left;
}

.paragraphe2 {
    margin-top: 100px;
    padding-left: 60px;
}

.invisibleGauche,
.invisibleDroite {
    opacity: 0;
    font-family: verdana;
    font-size: 20px;
    line-height: 35px;
    transition: 1.5s ease;
}

.invisibleGauche {
    transform: translateX(-100%);
}

.visibleGauche,
.visibleDroite {
    opacity: 1;
    font-family: verdana;
    font-size: 20px;
    line-height: 35px;
    transition: 1.5s ease;
    transition: opacity 1.5s ease, transform 2s ease;
}

.visibleGauche {
    transform: translateX(0);
}

.invisibleDroite {
    transform: translateX(100%);
}

.visibleDroite {
    transform: translateX(0);
}

/*************AUTRES TEMOIGNAGES*****************/

.temoignage {
    position: relative;
    margin-top: 150px;
}

.temoignage p {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: "Julius Sans One";
    font-weight: bolder;
}

/*************GALLERIE PARALLAX*****************/

.conteneur_parallax {
    width: 100%;
    height: 3000px;
    padding-top: 450px;
}

.conteneur_parallax .portrait {
    width: 400px;
    height: 700px;
    object-fit: cover;
}

.conteneur_parallax .paysage {
    width: 700px;
    height: 400px;
    object-fit: cover;
}

.conteneur_parallax img {
    position: relative;
    box-shadow: inset 0 -3em 3em rgb(0 0 0 / 30%),
        0.3em 0.3em 1em rgb(0 0 0 / 60%);
}

#img1 {
    position: relative;
    margin-left: 40px;
}

#img2 {
    position: relative;
    margin-top: 150px;
    margin-left: 900px;
}

#img3 {
    position: relative;
    margin-top: 700px;
    margin-left: 250px;
}

#img4 {
    position: relative;
    margin-top: 1200px;
    margin-left: 750px;
}

#img5 {
    position: relative;
    margin-top: 1700px;
    margin-left: 150px;
}

#img6 {
    position: relative;
    margin-top: 2000px;
    margin-left: 650px;
}
/************* responsive container  dans le description dans 360*****************/
/* Pour les écrans jusqu'à 768px */
@media (max-width: 768px) {
    #myScroll {
        height: 80%; /* Ajuste la hauteur pour les écrans moyens */
        /* Ajoute d'autres styles si nécessaire */
    }
}

/* Pour les écrans jusqu'à 480px */
@media (max-width: 480px) {
    .myScroll {
        height: 70%; /* Ajuste encore plus la hauteur pour les petits écrans */
        /* Ajoute d'autres styles si nécessaire */
    }
}

/************* responsive texte/ MARGE INTERIEUR du Audio nom dans le description dans 360*****************/

/* Pour les écrans de taille moyenne (tablettes) */
@media (max-width: 768px) {
    .ligne2_bis {
        margin-top: 1px; /* Réduit la marge pour les tablettes */
    }
}

/* Pour les petits écrans (mobiles) */
@media (max-width: 480px) {
    .ligne2_bis {
        margin-top: -60px; /* Réduction supplémentaire pour les mobiles */
    }
}

/* Pour les écrans de taille moyenne (tablettes) */
@media (max-width: 768px) {
    .ligne1_bis {
        margin-top: 20px; /* Réduit la marge pour les tablettes */
    }
}

/* Pour les petits écrans (mobiles) */
@media (max-width: 480px) {
    .ligne1_bis {
        margin-top: 10px; /* Réduction supplémentaire pour les mobiles */
    }
}
/************* responsive texte/ au dessou du Audio nom dans le description dans 360*****************/
@media (max-width: 768px) {
    .conteneur_bas {
        z-index: 12;
        margin-top: 870px; /* Réduction de la marge supérieure */
        height: 800px; /* Réduction de la hauteur */
    }
}

@media (max-width: 480px) {
    .conteneur_bas {
        z-index: 12;
        margin-top: 400px; /* Réduction encore plus importante de la marge supérieure */
        height: 600px; /* Hauteur ajustée pour les petits écrans */
    }
}

/************* responsive texte/ au dessou du Audio nom dans le description dans 360*****************/
@media (max-width: 1024px) {
    .invisible,
    .visible {
        font-size: 18px; /* Réduction de la taille de la police */
        line-height: 30px; /* Ajustement de l'espacement des lignes */
        padding-top: 20%; /* Réduction du padding-top pour les tablettes */
    }
}

@media (max-width: 768px) {
    .invisible,
    .visible {
        font-size: 16px; /* Réduction supplémentaire de la taille de la police */
        line-height: 28px; /* Ajustement de l'espacement des lignes */
        padding-top: 15%; /* Ajustement du padding-top */
    }
}

@media (max-width: 480px) {
    .invisible,
    .visible {
        font-size: 14px; /* Taille minimale pour les petits écrans */
        line-height: 25px; /* Ajustement de l'espacement des lignes */
        padding-top: 10%; /* Ajustement du padding-top pour les très petits écrans */
    }
}

/************* responsive texte/ sous titre Audio nom dans le description dans 360*****************/
@media (max-width: 1024px) {
    .play1,
    .play2 {
        height: 80px; /* Réduction de la hauteur pour les tablettes */
        width: 80px; /* Réduction de la largeur pour les tablettes */
    }
}

@media (max-width: 768px) {
    .play1,
    .play2 {
        height: 60px; /* Réduction de la hauteur pour les smartphones */
        width: 60px; /* Réduction de la largeur pour les smartphones */
    }
}

@media (max-width: 480px) {
    .play1,
    .play2 {
        height: 50px; /* Taille minimale pour les petits écrans */
        width: 50px;
    }
}

/************* responsive texte sous titre Audio nom dans le description dans 360*****************/
@media (max-width: 1024px) {
    .visible3,
    .visible7 {
        font-size: 22px; /* Ajustement de la taille pour les tablettes */
    }
}

@media (max-width: 768px) {
    .visible3,
    .visible7 {
        font-size: 20px; /* Réduction de la taille pour les smartphones */
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .visible3,
    .visible7 {
        font-size: 14px; /* Réduction maximale pour les très petits écrans */
        margin-top: 10px;
    }
}

/************* responsive texte question Audio nom dans le description dans 360*****************/
@media (max-width: 1024px) {
    .visible2,
    .visible5 {
        font-size: 50px; /* Réduction de la taille de la police pour les tablettes */
    }
}

@media (max-width: 768px) {
    .visible2,
    .visible5 {
        font-size: 27px; /* Ajustement de la taille de la police pour les smartphones */
    }
}

/* Pour les très petits écrans (smartphones ou appareils encore plus petits) */
@media (max-width: 480px) {
    .invisible2,
    .invisible5 {
        font-size: 30px; /* Réduction maximale pour les très petits écrans */
    }
}

/************* responsive texte question nom dans le description dans 360*****************/

@media (max-width: 1024px) {
    .questionInvisible,
    .questionVisible {
        font-size: 40px; /* Réduction de la taille de la police pour les tablettes */
    }
}

@media (max-width: 768px) {
    .questionInvisible,
    .questionVisible {
        font-size: 30px; /* Taille de la police ajustée pour les smartphones */
    }
}

@media (max-width: 480px) {
    .questionInvisible,
    .questionVisible {
        font-size: 24px; /* Réduction maximale pour les très petits écrans */
    }
}

/************* responsive texte nom dans le description dans 360*****************/
/* Pour les tablettes et les écrans moyens */
@media (max-width: 1024px) {
    .texte_filtre p {
        margin-top: 120vh; /* Réduction de la marge supérieure pour les écrans plus petits */
        font-size: 24px; /* Taille de police légèrement réduite */
        line-height: 30px; /* Ajustement du line-height */
    }
}

/* Pour les smartphones (écrans plus petits) */
@media (max-width: 768px) {
    .texte_filtre p {
        margin-top: 140vh; /* Réduction plus importante de la marge */
        font-size: 20px; /* Réduction de la taille de la police */
        line-height: 28px; /* Ajustement de l'interligne */
    }
}

/* Pour les très petits écrans (smartphones ou petits appareils) */
@media (max-width: 480px) {
    .texte_filtre p {
        margin-top: 140vh; /* Ajustement maximal de la marge supérieure */
        font-size: 16px; /* Taille de la police plus petite pour la lisibilité */
        line-height: 24px; /* Ajustement du line-height pour garder une bonne lisibilité */
    }
}

/************* responsive menu nom dans le description dans 360*****************/

@media (max-width: 1024px) {
    #nom {
        font-size: 50px; /* Réduit la taille de la police pour les écrans plus petits */
        letter-spacing: 10px; /* Réduit l'espacement des lettres */
    }
}

@media (max-width: 768px) {
    #nom {
        font-size: 40px; /* Réduction plus significative de la taille de la police pour smartphones */
        letter-spacing: 8px; /* Réduction de l'espacement des lettres pour garder un bon rendu */
    }
}

@media (max-width: 480px) {
    #nom {
        font-size: 30px; /* Taille plus petite pour très petits écrans */
        letter-spacing: 5px; /* Espacement encore plus réduit */
    }
}

/************* responsive menu *****************/

@media (max-width: 768px) {
    .menu {
        height: 60px; /* Ajuste la hauteur du menu sur des petits écrans */
    }

    .menu_gauche {
        width: 50%; /* Réduit la largeur du menu de gauche */
        font-size: 16px; /* Réduit la taille de la police pour des écrans plus petits */
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .menu_droite {
        width: 50%; /* Augmente la largeur du menu de droite */
        font-size: 16px; /* Réduit également la taille de la police ici */
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-toggler {
        font-size: 16px; /* Ajuste la taille de la police pour le bouton */
        color: white; /* Assure que le texte est lisible */
        cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
        transition: background-color 0.3s; /* Ajoute une transition pour les effets de survol */
    }

    #quiter_description {
        display: flex; /* Utilise flexbox pour centrer le contenu */
        justify-content: center; /* Centre l'image horizontalement */
        align-items: center; /* Centre l'image verticalement */
    }

    .croix {
        width: 23px; /* Ajuste la taille de l'image de la croix */
        height: auto; /* Garde le ratio de l'image */
        cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
        transition: transform 0.3s; /* Ajoute une transition pour les effets de survol */
    }

    .croix:hover {
        transform: scale(1.2); /* Agrandit l'image légèrement au survol */
    }

    #croix,
    #rideau,
    #circulaire,
    #sound {
        width: 12%; /* Adapte la largeur des éléments du menu */
    }

    #rideau {
        width: 40%; /* Réduction de la largeur de certains éléments pour les rendre plus proportionnés */
    }

    #circulaire {
        width: 22%; /* Ajuste la largeur de l'élément circulaire */
    }
}
@media (max-width: 375px) {
    .menu {
        height: 80px; /* Réduit la hauteur du menu pour les petits écrans */
        padding: 8px; /* Ajoute un padding pour éviter que le contenu touche les bords */
    }

    .menu_gauche,
    .menu_droite {
        width: 100%; /* Prend toute la largeur pour chaque section du menu */
        font-size: 14px; /* Réduit encore la taille de la police */
        padding: 5px; /* Réduit le padding pour optimiser l'espace */
        justify-content: center; /* Centre le contenu dans chaque section */
    }

    .nav-toggler {
        font-size: 14px; /* Ajuste la taille de la police pour le bouton */
        color: white; /* Assure que le texte est lisible */
        cursor: pointer; /* Indique que c'est cliquable */
        padding: 5px; /* Ajoute du padding autour du texte */
    }

    #quiter_description {
        display: flex; /* Utilise flexbox pour centrer le contenu */
        justify-content: center; /* Centre l'image horizontalement */
        align-items: center; /* Centre l'image verticalement */
        margin-top: 5px; /* Réduit l'espace au-dessus */
    }

    .croix {
        width: 20px; /* Ajuste la taille de l'image de la croix */
        height: auto; /* Garde le ratio de l'image */
        cursor: pointer; /* Indique que c'est cliquable */
        transition: transform 0.3s; /* Ajoute une transition pour les effets de survol */
    }

    .croix:hover {
        transform: scale(
            1.1
        ); /* Légèrement plus petit agrandissement au survol */
    }

    #croix,
    #rideau,
    #circulaire,
    #sound {
        width: 100%; /* Prend toute la largeur disponible */
        justify-content: center; /* Centre le contenu à l'intérieur de ces éléments */
        margin: 5px 0; /* Ajoute un peu d'espace vertical entre les éléments */
    }

    #rideau {
        width: 100%; /* Assure que l'élément rideau s'adapte à la largeur */
    }

    #circulaire {
        width: 100%; /* Assure que l'élément circulaire s'adapte à la largeur */
    }
}
/************* responsive carousel *****************/
@media (max-width: 1536px) {
    .carousel {
        height: 69vh;
        width: 108vh;
    }
}
@media (max-width: 1280px) {
    .carousel {
        height: 40vh;
        width: 59vh;
    }
}
@media (max-width: 1024px) {
    .carousel {
        height: 30vh;
        width: 51vh;
    }
}

@media (max-width: 768px) {
    .carousel {
        width: 56vh;
        height: 37vh;
        margin-top: 12vh;
    }

    #prev,
    #next {
        font-size: 1.2rem; /* Réduis la taille des flèches de navigation */
    }
}
@media (max-width: 480px) {
    .carousel {
        width: 30vh;
        height: 21vh;
        margin-top: 11vh;
    }
}
@media (max-width: 375px) {
    .carousel {
        width: 32vh;
        height: 25vh;
        margin-top: 11vh;
    }
}

/************* responsive Parallax *****************/
@media (max-width: 768px) {
    .conteneur_parallax .portrait {
        width: 300px;
        height: 500px;
    }

    .conteneur_parallax .paysage {
        width: 500px;
        height: 300px;
    }

    /* Ajustements pour les positions des images */
    #img2 {
        margin-left: 600px;
    }
    #img4 {
        margin-left: 550px;
    }
    #img6 {
        margin-left: 450px;
    }
}

/************* responsive Texte additionnel *****************/
@media (max-width: 768px) {
    .textes_additionnels {
        width: 85%;
        margin-top: 200px;
    }

    .paragraphe1,
    .paragraphe2 {
        padding-left: 20px;
        padding-right: 20px; /* Ajuste les marges et paddings pour plus de lisibilité */
    }

    .visibleGauche,
    .visibleDroite,
    .invisibleGauche,
    .invisibleDroite {
        font-size: 18px; /* Adapte la taille du texte pour plus de lisibilité */
        line-height: 30px;
    }
}
