@font-face {
    font-family: "JuliusSansOne";
    src: url("./fonts/JuliusSansOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.otf") format("truetype");
}

@font-face {
    font-family: "DMSerifDisplay";
    src: url("./fonts/DMSerifDisplay-Regular.ttf") format("truetype");
}

body {
    background-color: #ccc;
    color: #000;

    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.cursor {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
    transition: opacity 0.25s ease; /* Correction ici : 0.25s au lieu de 0,25 */
    pointer-events: none;
    z-index: 999;
}

.cursorDot {
    height: 12px;
    width: 12px;
    background: black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: opacity 0.25s ease; /* Correction ici : 0.25s au lieu de 0,25 */
    pointer-events: none;
    z-index: 999;
}

.cursorBlock {
    opacity: 1;
}

.cursorNone {
    opacity: 0;
}

#container {
    width: 100vw;
    /*height: 100vh;*/
}

#list {
    position: fixed;
    color: #000000;
    top: 15%;
    left: 0;
    z-index: 100;
    font-size: 24px; /* Suppression de l'espace entre "24" et "px" */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(4px); /* Ajout du flou */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.logofeo {
    margin-left: 65px;
    align-items: center;
    width: 65px;
}

.navbar-icons {
    display: flex;
    align-items: center;
    padding-right: 50px;
}
.navbar-icons img {
    width: 35px;
    padding-right: 40px;
}

/* Responsive Styles */
/* Media Query pour les écrans de taille moyenne (tablettes) */
@media (max-width: 1280px) {
    .navbar {
        padding-top: 20px; /* Padding minimal pour économiser de l'espace */
    }

    .logofeo {
        width: 63px; /* Taille plus petite du logo */
        margin-left: 50px;
    }
    .navbar-icons {
        margin-right: -15px;
    }
    .navbar-icons img {
        width: 35px; /* Icônes plus petites */
        padding-right: 38px;
    }
}

@media (max-width: 1024px) {
    .navbar {
        padding-top: 20px; /* Padding minimal pour économiser de l'espace */
    }

    .logofeo {
        width: 65px; /* Taille plus petite du logo */
        margin-left: 50px;
    }
    .navbar-icons {
        margin-right: -15px;
    }
    .navbar-icons img {
        width: 35px; /* Icônes plus petites */
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding-top: 20px; /* Padding minimal pour économiser de l'espace */
    }

    .logofeo {
        width: 63px; /* Taille plus petite du logo */
        margin-left: 45px;
    }
    .navbar-icons {
        margin-right: -30px;
    }
    .navbar-icons img {
        width: 34px; /* Icônes plus petites */
        padding-right: 35px;
    }
}

/* Media Query pour les petits écrans (480px) */
@media (max-width: 480px) {
    .navbar {
        padding-top: 20px; /* Padding minimal pour économiser de l'espace */
    }

    .logofeo {
        width: 60px; /* Taille plus petite du logo */
        margin-left: 20px;
    }
    .navbar-icons {
        margin-right: -45px;
    }
    .navbar-icons img {
        width: 30px; /* Icônes plus petites */
        padding-right: 20px;
    }
}

/* Media Query pour les très petits écrans (390px) */
@media (max-width: 375px) {
    .navbar {
        padding-top: 20px; /* Padding minimal pour économiser de l'espace */
    }

    .logofeo {
        width: 53px; /* Taille plus petite du logo */
        margin-left: 20px;
    }
    .navbar-icons {
        margin-right: -45px;
    }
    .navbar-icons img {
        width: 27px; /* Icônes plus petites */
        padding-right: 20px;
    }
}

/* Style supplémentaire pour le mode sombre */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.progress-bar-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#progress-bar {
    width: 30%;
    height: 2%;
    margin-top: 0.5%;
}

label {
    color: white;
    font-size: 2rem;
}

/* Styles pour le label */
.progress-bar-container label {
    margin-bottom: 10px; /* Espacement en dessous du label */
    font-size: 18px; /* Taille de police */
    color: rgb(248, 248, 248); /* Couleur du texte */
}

/* Styles pour la barre de progression */
progress {
    width: 100%; /* Largeur de la barre de progression */
    height: 20px; /* Hauteur de la barre */
    appearance: none; /* Supprimer le style par défaut */
    border-radius: 50px; /* Coins arrondis */
    background-color: #393939; /* Couleur de fond */
}

/* Styles pour la valeur de progression */
progress::-webkit-progress-bar {
    background-color: #515151; /* Couleur de fond de la barre */
}

progress::-webkit-progress-value {
    background-color: green; /* Couleur de la valeur de progression */
    border-radius: 5px; /* Coins arrondis */
}

progress::-moz-progress-bar {
    background-color: rgb(
        2,
        97,
        15
    ); /* Couleur de la valeur de progression pour Firefox */
    border-radius: 5px; /* Coins arrondis */
}
.header {
    position: absolute;
    left: 50%;
    top: 50%; /* Centré à 50% de la hauteur de l'écran */
    transform: translate(
        -50%,
        -50%
    ); /* Ajuste le centrage en fonction de la taille de l'élément */
    text-align: center;
    z-index: 100;
}

.header h1 {
    font-family: "DMSerifDisplay";
    font-size: 4.5rem;
    letter-spacing: 5px;
}

.btn {
    border: 3px solid #00a041;
    border-radius: 50px;
    background: none;
    padding: 10px 25px;
    font-size: 20px;

    cursor: pointer;
    margin: 10px;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
}

.btn1 {
    color: #000000;
}

.header button:hover {
    background-color: white;
    color: black;
    padding: 10px 30px;
    font-size: 20px;
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #fff;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn1:hover::before {
    height: 180%;
}

/* Responsive pour les petits écrans (jusqu'à 640px) */
@media (max-width: 640px) {
    .btn {
        padding: 8px 20px;
        font-size: 16px;
    }

    .header button:hover {
        padding: 8px 25px;
        font-size: 16px;
    }
}

/* Responsive pour les écrans moyens (jusqu'à 768px) */
@media (max-width: 768px) {
    .btn {
        padding: 9px 22px;
        font-size: 18px;
    }

    .header button:hover {
        padding: 9px 27px;
        font-size: 18px;
    }
}

/* Responsive pour les grands écrans (jusqu'à 1024px) */
@media (max-width: 1024px) {
    .btn {
        padding: 10px 23px;
        font-size: 19px;
    }

    .header button:hover {
        padding: 10px 28px;
        font-size: 19px;
    }
}

/* Responsive pour les très grands écrans (jusqu'à 1280px) */
@media (max-width: 1280px) {
    .btn {
        padding: 10px 24px;
        font-size: 19px;
    }

    .header button:hover {
        padding: 10px 29px;
        font-size: 19px;
    }
}

.backgroundExplorer {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.308);
    position: absolute;
    transition: 0s;
}

.icon_descri {
    width: 23px;
    height: 23px;
}

/* boutton quitter dans main.js */
.exitButton {
    position: absolute;
    top: 0px;
    right: -39px;
    display: block;
    background-color: rgba(0, 0, 0, 0.3); /* Fond noir avec 50% d'opacité */
    border: 2px solid transparent;
    padding: 10px 20px;
    cursor: pointer;
    transform: translateX(-50%);
    transition: background-color 0.3s ease, right 1s ease;
}

.exitButton:hover {
    background-color: transparent;
}

.exitButton.moveLeft {
    right: -500px; /* Déplacer vers la gauche */
}

.button {
    position: absolute;
    top: 0px;
    right: 40px;
    display: block;
    background-color: rgba(0, 0, 0, 0.3); /* Fond noir avec 50% d'opacité */
    border: 2px solid transparent;
    padding: 10px 20px;
    cursor: pointer;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}

.button:hover {
    background-image: url("./img/music2.png"); /* Image de fond au survol */
    background-color: transparent; /* Rend le fond transparent pour voir l'image */
}
/* Ajustements pour les écrans moyens */
@media (max-width: 768px) {
    .button {
        right: 30px; /* Réduit la distance par rapport au bord droit */
    }
}

/* Ajustements pour les petits écrans */
@media (max-width: 480px) {
    .button {
        right: 31px; /* Réduit encore la distance par rapport au bord droit */
    }
}
#submit-btn {
    background-color: transparent;
    border: 2px solid transparent;
    color: #fff; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    font-size: 16px; /* Taille du texte */
    cursor: pointer;
    position: absolute;
    bottom: 20px; /* Espace depuis le bas */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center; /* Aligner verticalement le contenu */
}

.icon_container {
    margin-right: 4px;
    margin-top: 5px; /* Ajustez la valeur selon vos besoins */
}

#submit-btn:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.icon_white {
    width: 20px;
    height: 20px;
    top: 10px;
    margin-right: 5px;
    display: flex;
}

.icon_black {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: none;
}

.button_lieux:hover .icon_white {
    display: none;
}

.button_lieux:hover .icon_black {
    display: inline-block;
    display: flex;
}

.list-container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Responsive styles */

/* Écrans >= 1280px */
@media (min-width: 1280px) {
    #submit-btn {
        margin-bottom: 2vh;
        font-size: 18px;
        padding: 12px 24px;
        bottom: 30px; /* Ajustement du positionnement */
    }

    .icon_white,
    .icon_black {
        width: 24px;
        height: 24px;
    }
}

/* Écrans >= 1024px */
@media (min-width: 1024px) {
    #submit-btn {
        margin-bottom: 2vh;
        font-size: 17px;
        padding: 12px 22px;
        bottom: 25px;
    }

    .icon_white,
    .icon_black {
        width: 22px;
        height: 22px;
    }
}

/* Écrans >= 768px */
@media (min-width: 768px) {
    #submit-btn {
        margin-bottom: 2vh;
        font-size: 16px;
        padding: 10px 20px;
        bottom: 20px;
    }

    .icon_white,
    .icon_black {
        width: 20px;
        height: 20px;
    }
}

/* Écrans >= 640px */
@media (min-width: 640px) {
    #submit-btn {
        margin-bottom: 2vh;
        font-size: 15px;
        padding: 10px 18px;
        bottom: 15px;
    }

    .icon_white,
    .icon_black {
        width: 18px;
        height: 18px;
    }
}

/* Petits écrans (max-width: 480px) */
@media (max-width: 480px) {
    #submit-btn {
        margin-bottom: 2vh;
        font-size: 14px;
        padding: 8px 16px;
        bottom: 10px;
    }

    .icon_white,
    .icon_black {
        width: 16px;
        height: 16px;
    }
}

/* Styles pour la modale */
.modal {
    display: none; /* Masquer la modale par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    overflow: auto; /* Ajouter un défilement si nécessaire */
}

.modal-content {
    background-color: #fefefecf;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #333;
    width: 90%;
    max-height: 80%;
    overflow-y: auto;
    word-wrap: break-word;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, padding 0.3s ease;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-dialog {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.modal-title {
    margin-bottom: 1em;
    font-size: 1.5em;
}

.modal-body {
    padding-bottom: 1em;
}

.modal-footer {
    justify-content: flex-end;
}

.list-container {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    color: #666;
    font-size: 1.2em;
    margin: 0 10px;
    margin-bottom: 10px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

li:hover {
    color: #00a041;
    cursor: pointer;
}

/* Responsive */

/* Pour les écrans >= 1280px */
@media (min-width: 1280px) {
    .modal-content {
        width: 45%;
        padding: 30px;
    }

    .modal-dialog {
        max-width: 800px;
    }

    .modal-title {
        font-size: 1.8em;
    }

    li {
        font-size: 1.6em;
    }
}

/* Pour les écrans >= 1024px */
@media (min-width: 1024px) {
    .modal-content {
        width: 55%;
        padding: 25px;
    }

    .modal-dialog {
        max-width: 700px;
    }

    .modal-title {
        font-size: 1.6em;
    }

    li {
        font-size: 1.4em;
    }
}

/* Pour les écrans >= 768px */
@media (min-width: 768px) {
    .modal-content {
        width: 65%;
        padding: 20px;
    }

    .modal-dialog {
        max-width: 600px;
    }

    .modal-title {
        font-size: 1.4em;
    }

    li {
        font-size: 1.3em;
        margin-bottom: 1.5em;
    }
}

/* Pour les écrans >= 640px */
@media (min-width: 640px) {
    .modal-content {
        width: 75%;
        padding: 15px;
    }

    .modal-dialog {
        max-width: 500px;
    }

    .modal-title {
        font-size: 1.3em;
    }

    li {
        font-size: 1.2em;
    }
}

/* Pour les petits Ã©crans < 640px */
@media (max-width: 640px) {
    .modal-content {
        width: 80%;
        padding: 10px;
    }

    .modal-title {
        font-size: 1.2em;
    }

    li {
        font-size: 0.75em;
        margin-bottom: 1.5em;
    }
    h2 {
        font-size: 1.3em;
    }
}

/*************FILTRE*****************/

.img_fixed {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}

.img_absolute {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: 3000px;
    object-fit: cover;
    pointer-events: none;
    z-index: 10;
    box-shadow: inset 0 -3em 3em rgb(0 0 0 / 30%),
        0.3em 0.3em 1em rgb(0 0 0 / 60%);
}

.conteneur_nom {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#nom {
    display: flex;
    position: relative;
    margin-top: 74vh;
    text-align: center;
    font-size: 70px;
    color: white;
    letter-spacing: 15px;
    font-family: "JuliusSansOne";
    font-weight: bold;
    z-index: 15;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.808);
}

#filtre {
    position: absolute;
    background-color: #19191972;
    width: 100%;
    height: 370vh;
    z-index: 11;
    pointer-events: none;
}

.texte_filtre {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-right: 15%;
    padding-left: 15%;
}

.texte_filtre p {
    margin-top: 350vh;
    color: white;
    z-index: 20;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    text-align: center;
    line-height: 35px;
}

#titre_lieu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s;

    color: white;
    font-family: "JuliusSansOne";
    font-size: 2.5rem;
}

/* Responsivité pour les écrans moyens (tablettes) */
@media (max-width: 768px) {
    .header h1 {
        font-size: 3.2rem; /* Ajustement de la taille de la police */
        letter-spacing: 4px; /* Espacement légèrement réduit */
    }
}

/* Responsivité pour les petits écrans (smartphones) */
@media (max-width: 480px) {
    .header {
        top: 45%; /* Ajustement du centrage vertical pour les petits écrans */
    }

    .header h1 {
        font-size: 2.3rem; /* Réduction de la taille de la police */
        letter-spacing: 2px; /* Espacement plus petit pour compenser */
    }
}
